:root {
  --color-primary-dark: #132534;
  --color-primary-light: #faa2a2;
  --color-secondary-light: #6eb1e7;
  --font: 'Iosevka', monospace;
}

body {
  font-family: var(--font);
  letter-spacing: 5px;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  color: var(--color-primary-light);
}

h2 {
  font-size: 2rem;
  color: var(--color-secondary-light);
}

h3 {
  font-size: 1.5rem;
  color: var(--color-secondary-light);
}

strong {
  color: var(--color-secondary-light);
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}

a {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 1.2rem;
}
