:root {
  --color-primary-dark: #132534;
  --color-secondary-dark: #1d3351;
  --color-primary-light: #faa2a2;
  --color-secondary-light: #6eb1e7;
  --button-disabled: #645151;
  --font: 'Iosevka', monospace;
}

body {
  font-family: var(--font);
  font-weight: 500;
  color: var(--color-primary-light);
}

.body-bg {
  background-color: var(--color-primary-dark);
}

h1 {
  font-size: 2.5rem;
  color: var(--color-primary-light);
}

h2 {
  font-size: 2rem;
  color: var(--color-secondary-light);
}

h3 {
  font-size: 1.5rem;
  color: var(--color-secondary-light);
}

strong {
  color: var(--color-secondary-light);
}

.strong-mouseover {
  color: var(--color-secondary-light);
  cursor: pointer;
}

p {
  font-size: 1.1rem;
}

li {
  font-size: 1.1rem;
}

a {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 1.2rem;
}

.dark-overlay {
  background-color: rgb(24, 24, 24);
  color: rgba(255, 255, 255, 0.5) !important;
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.dark-overlay strong {
  color: rgba(255, 255, 255, 0.5);
}

.dark-overlay a,
.dark-overlay p,
.dark-overlay li,
.dark-overlay h1,
.dark-overlay h2,
.dark-overlay h3,
.dark-overlay img,
.dark-overlay div {
  color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
}
