:root {
  --dark-primary: #2e2e2e;
  --dark-secondary: #3a3a3a;
  --light-primary: #ececec;
  --light-secondary: #f5f5f5;
  --button-important: #e74c3c;
  --button-important-hover: #800000;
  --button: #20638f;
  --animation-duration: 0.3s;
  --page-padding: 128px;
  --font: 16px 'Raleway', sans-serif;
}

body {
  font-weight: normal;
  background-color: var(--light-primary);
  color: var(--light-primary);
  letter-spacing: 1px;
  font: var(--font);
  height: auto;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font: var(--font);
}

h1 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: normal;
  padding-bottom: 10px !important;
  padding-top: 30px !important;
  width: fit-content;
}

h2 {
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 10px !important;
  padding-top: 30px !important;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 10px !important;
  padding-top: 30px !important;
}

p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  padding-bottom: 20px !important;
}

a {
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-align: justify;
  font-weight: normal;
  position: relative;
}

strong {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font: var(--font);
}

label {
  display: block;
  text-align: left;
  margin-top: 16px !important;
  margin-bottom: 0 !important;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font: var(--font);
}

textarea {
  resize: none;
  margin: 0;
  height: 100px;
  font: var(--font);
}
